# Ignore Python cache and environment
__pycache__/
venv/
.venv/

# Ignore database and embedding/index files
*.db
*.bin
*.pt

# Ignore heavy binaries and build artifacts
*.dll
*.lib
*.exe

# Ignore Node and frontend builds if any
node_modules/
